

h1{
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  font-size: 30px;
  color: #000;
  margin: 0px;
  padding: 0rem;
}

h2{
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: #000;
  margin: 0px;
}

h3{
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  color: #000;
  margin: 0px;
  text-transform: uppercase;
}

p{
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: #000;
  margin: 0px;
  

}
.now{
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: green;
  margin: 0px;
  text-transform: uppercase;
}

header {
  background-color: #ECECE2;
  display: flex;
  align-items: center;
  position: sticky;
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  font-style: normal;
  max-height: 70px;
}

a {

  text-decoration: none;
  color:#000; 
}

nav ul {
  list-style:none;
  padding: 0;
  margin-left: 30px;  
}

nav li {
  display: inline-block;
  margin-right: 15px;  
}

.logo {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  font-size: 30px;
  padding: 2rem; 
  margin-left: 4rem;
}

button{
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
    align-items: center; 
    text-align: center; 
    font-size: 16px;
    background-color: transparent;
    color: #000;
    border: 1px solid #000; 
    border-radius: 5px;
    padding: 6px 60px;
    min-width: 50px;
    height: 40px;
    margin: 5px;  
}

button:hover {
  background-color: #000;
  color: #FFF;
}


.jacket-buy-button{
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
    align-items: center; 
    text-align: center; 
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000; 
    border-radius: 5px;
    padding: 6px 60px;
    }

.jacket-page-button{
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
    align-items: center; 
    text-align: center; 
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000; 
    border-radius: 5px;
    padding: 8.5px 50px;
    margin-top: 15px;  
}

