




.banner {
  background-image: url('/img/colorful.png');
  display: flex;
  flex-direction: column;
  text-align: left;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  min-height: 800px;
  position: sticky;  
}

.banner-text{
  position: relative;
  top: 200px;
  margin: 5rem;
  max-width: 450px;
 
}

.explore{
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  font-style: normal;
  align-items: center; 
  text-align: center; 
  font-size: 16px;
  background-color: #000;
  color: #FFF;
  border: 1px solid #000; 
  border-radius: 5px;
  padding: 6px 60px;
  width: 250px;
  height: 40px;
  margin-top: 15px;  
  

}

.jacket-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}



.jacket-container img{
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
 
}

.filter-buttons{
  display: flex;
  padding: 1rem;
  gap: 1rem;
  justify-content: center;
}

.jacket-item{
  margin: 5rem;
  max-width: 500px;
}

.jacket-item img{
  max-width: 650px;
}

.cart-price {
  margin-top: 1rem;
}

.checkout{
  margin: 5rem;
}

.products{
  margin: 4rem;
}

.cart-counter{
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: #000;
  margin: 0px;
}

.products img{
  max-width: 300px;
}