




.banner {
  background-image: url('/img/colorful.png');
  display: flex;
  flex-direction: column;
  text-align: center;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  min-height: 900px;
  position: sticky;  
}

.banner-text{
  position: relative;
  top: 300px;
 
}

.jacket-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}



.jacket-container img{
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
 
}

.filter-buttons{
  display: flex;
  padding: 1rem;
  gap: 1rem;
  justify-content: center;
}